{% load static %}
<header class="header">
    <!--start navbar-->
    <nav class="navbar navbar-expand-lg fixed-top bg-transparent">
        <div class="container">
            <a class="navbar-brand" href="http://127.0.0.1:8000/">
                <img src="{% static "/img/logo.svg" %}" alt="logo" class="img-fluid" height="20%" width="20%"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse h-auto" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto menu">
                    <li><a href="http://127.0.0.1:8000/"> Home</a>
                    <li><a  href="http://127.0.0.1:8000/verify">Verificiation Demo</a></li>
                    
                        
                    </li>
                    <li><a  href="#">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>