{% extends 'base.html' %}
{% block content %}


   
    <section class="hero-section full-screen gray-light-bg" style="background: url('../../static/img/bg-illustration.svg')no-repeat bottom center / cover">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6">
                    <div class="login-signup-wrap px-4 px-lg-5">
                        <h1 class="text-center mb-1 text-white">
                            Registration Successful
                        </h1>
                        <p class="text-muted text-center mb-5 text-white">
                            Thank you for registering at NNeuralab! Please visit our <a href="/" class="link-light">Homepage</a> 
                        </p>
                    </div>
                </div>
            </div> 
        </div>
    </section>
   






{% endblock %}